.conteiner {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    min-width: 428px;
  }
}
@media screen and (max-width: 480px) {
  .header-conteiner {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    min-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    min-width: 428px;
  }
  .mobail-menu-open {
    padding-right: 0;
    padding-left: 0;
    display: block;
    stroke: #2e2f42;
    border: transparent;
    margin-right: auto;
  }
  .header-conteiner {
  }
  .header-navigation {
  }
}
@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
  .adress {
    display: none;
  }
}
