@media screen and (min-width: 480px) {
  .conteiner {
    width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-conteiner {
    max-width: 100%;
    padding: 0px;
  }

  .conteiner-mob-menu {
  }
  .hero {
    max-width: 100%;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--gra), url(../images/bg-mob.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
    /* background: #2e2f42;*/
  }
  .hero-title {
    display: inline-block;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .modal {
    max-width: 392px;
    max-height: 550px;
    top: 50%;
    left: 50%;
  }
}
@media screen and (max-width: 767px) {
  .conteiner {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .conteiner-mob-menu {
    position: relative;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .header {
  }
  .header {
    width: 100%;
    top: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
    background: #ffffff;
  }
  .header-conteiner {
    display: flex;
  }

  .mobail-menu-open {
    display: block;
    stroke: #2e2f42;
    border: transparent;
    text-align: center;
    margin-left: auto;
    background: #ffffff;
    margin-bottom: 24px;
  }
  .mobail-menu-open-icon {
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-conteiner {
  }
  .header-navigation {
  }
  .hero {
    max-width: 100%;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--gra), url(../images/hero-bg.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
    /* background: #2e2f42;*/
    text-align: center;
  }
  .hero-title {
    display: inline-block;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .header-list {
    display: none;
  }
  .adress-list {
    display: none;
  }
  /* ----Informeishin--- */
  .information {
    padding-top: 96px;
  }
  .information-title {
    display: block;
    font-weight: var(--main-title-fontweight);
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
  }
  .information-desc {
    display: block;
    max-width: 396px;
    margin-top: 8px;
    font-size: var(--paragraph-fontsize);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* SLATE */
    color: var(--paragraph-color);
  }
  .inform-list {
    padding-bottom: 96px;
    display: block;
  }
  .inform-item-icon:not(:last-child) {
    margin-bottom: 72px;
  }
  .inform-item-icon {
    width: 100%;
  }
  .inform-link {
  }
  /*-----Team--------*/
  .team {
    padding-top: 96px;
    padding-bottom: 128px;
    background: #f4f4fd;
  }
  .team-list {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
  }

  /* ----Customers--- */
  .customers {
    padding-bottom: 96px;
    padding-top: 96px;
  }
  .cuctomers-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 16px;
    row-gap: 72px;
  }
  .customers-item {
    width: calc((100%-16px) / 2);
    height: 88px;
  }
  .customers-link {
    min-width: 190px;
  }
  .cuctomers-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }
}
@media screen and (max-width: 480px) {
  .conteiner {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-conteiner {
    max-width: 428px;
  }
  .hero {
    max-width: 100%;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--gra), url(../images/bg-mob.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
    /* background: #2e2f42;*/
    text-align: center;
  }
  .hero-title {
    display: inline-block;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
}
