@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* ----Information------ */
  .information {
    padding-top: 96px;
    padding-bottom: 96px;
    align-items: center;
    justify-content: center;
  }
  .information-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inform-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }

  .information-title {
    display: flex;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .information-desc {
    display: flex;
    max-width: 356px;
    margin-top: 8px;
    font-weight: 500;
    font-size: var(--paragraph-fontsize);
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* SLATE */
    color: var(--paragraph-color);
  }

  .inform-item-icon {
  }
  /*-----Footer--------*/
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer-conteiner {
    display: flex;
    align-items: baseline;
    gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
    padding: 0;
  }
  .footer-media {
  }
  .footer-info {
    align-items: center;
    justify-content: center;
    padding-left: 108px;
  }
  .footer-media-title {
    margin-bottom: 16px;
  }
  .footer-tagline {
    margin-top: 16px;
  }
  /*-----Footer Subscribe------*/
  .footer-subscribe {
    align-items: center;
    justify-content: center;
    padding-left: 108px;
  }
  .footer-email {
    display: flex;
    gap: 24px;
  }
  .footer-input {
    width: 264px;
  }
  .hero {
    max-width: 1440px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--gra), url(../images/hero-bg.jpg);
    padding-top: 112px;
    padding-bottom: 108px;
    /* background: #2e2f42;*/
    text-align: center;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/img2x/bg-desk2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
  .conteiner-mob-menu {
    display: none;
  }
  .mobail-menu-open {
    display: none;
  }
  .mobail-menu-open-icon {
    display: none;
  }
  .header {
    width: 100%;
    top: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
    background: #ffffff;
  }
  .header-conteiner {
    display: flex;
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }
  .header-list {
    display: flex;
    gap: 40px;
  }
  .header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
  }
  .header-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* NAVY BLUE */
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-link:hover,
  .header-link:focus {
    color: #4d5ae5;
  }
  /*------Adress-------*/
  .adress {
    margin-left: 118px;
  }
  .adress-list {
    display: flex;
    flex-wrap: wrap;
  }
  .adress-item {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* SLATE */
    color: #434455;
  }
  .adress-mail {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* SLATE */
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .adress-mail:hover,
  .adress-mail:focus {
    color: #4d5ae5;
  }
  .adress-tel {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* SLATE */
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .adress-tel:hover,
  .adress-tel:focus {
    color: #4d5ae5;
  }

  .hero-title {
    display: inline-block;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .modal {
    top: 50%;
    left: 50%;
  }

  /*-----Team--------*/
  .team {
    padding-top: 96px;
    padding-bottom: 104px;
  }
  .team-list {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
  }
  /* ----Customers--- */
  .customers {
    padding-bottom: 96px;
    padding-top: 96px;
  }
  .cuctomers-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 24px;
    row-gap: 72px;
  }
  .customers-item {
    flex-basis: calc((100% - 48px) / 3);
    height: 88px;
  }
}
